@import "bootstrap";

.row {
  margin-top: 20px;
}
p.gestion {
  font-size: 20px;
}
p.code {
  width: 150px;
  text-align: center;
  font-size: 50px;
  border-style: solid;
  display: inline-block;
  border-color: black;
  border-width: 1px;
}
.codelist{
  p {
    display: inline-block;
    padding: 10px;
    width: 300px;
  }
}
.admin #content {
  background: rgb(235, 235, 235);
  padding: 20px;
  border-radius: 15px;
  box-shadow: inset 0 0 5px #000000;
}
.admin .students #errors {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 1px #000000;

}
#tabla {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 1px #000000;
}
.log#tabla {
  margin-top: 40px;
}
#tablaouter {
  background: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 15px;
  box-shadow: 0 0 1px #000000;
  margin: 5px;
}
.admin .students .total {
  padding: 10px;
  padding-top: 0px;
}
.admin #rightbar {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 15px;
  box-shadow:  0 0 5px #000000;
}
.card-footer{
  background: #5ab6c2;
  color: #ffffff;
}
a.card{
  text-decoration: none;
}
#chart h2 {
  text-align: center;
}
.paginate.view {
  margin-top: 30px;
} 
input[type='radio'] { transform: scale(4); }
.titles {
  display: inline-block;
  text-align: center;
}
.logo {
  margin: 20px;
}
.flash {
  margin-top: 15px;
}
#votercards {
  .card {
    margin-top: 10px;
    .cardcontent {
      padding-left: 40px;
      padding-top: 20px;
    }
    .card-header {
      text-align: center;
      font-size: 20px;
    }
  }
}
.pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .pagination a:hover, .pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child + html .pagination {
    overflow: hidden; }