<!DOCTYPE html>
<html>
  <head>
    <title>EleccionesCcv</title>
    <%= render 'layouts/head'%>

  </head>

  <body>
    <div class="row admin">
      <div class="offset-1"></div>
      <div class="col-2" id="rightbar">
        <%= render '/admin/gestionar' %>
      </div>
      <div class="col-8" id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
