<!DOCTYPE html>
<html>
  <head>
    <title>Elecciones CyV</title>
    <%= render 'layouts/head'%>
  </head>

  <body>
    <div class="row">
      <div class="col-8 offset-2">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
